@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Alte Haas Grotesk";
    font-weight: 400;
    font-style: normal;
    src: url("./AlteHaasGroteskRegular.woff2") format("woff2");
}
@font-face {
    font-family: "Alte Haas Grotesk";
    font-weight: 700;
    font-style: normal;
    src: url("./AlteHaasGroteskBold.woff2") format("woff2");
}
